/* Verified Entity 
    V "\2713";
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin:15px 0px 0px 30px
}
h1{
    display: inline-block;
}
main{
    background-color: rgba(0, 0, 0, 0.1);
    height: 500px;
}
.container{
    width: 60%;
    margin: auto;
    padding: 30px;
}.sub-container-header{
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}
.verified{
    list-style-type:"\2713";
}